@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Light", sans-serif;
}

@theme {
    --font-sans: "Inter", sans-serif;

    /* Kolory eco */
    --color-eco-50: #f0fdf4;
    --color-eco-100: #dcfce7;
    --color-eco-200: #bbf7d0;
    --color-eco-300: #86efac;
    --color-eco-400: #4ade80;
    --color-eco-500: #22c55e;
    --color-eco-600: #16a34a;
    --color-eco-700: #15803d;
    --color-eco-800: #166534;
    --color-eco-900: #14532d;

    /* Niestandardowe slate */
    --color-slate-850: #1e293b;
    --color-slate-900: #0f172a;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a; /* Slate 900 */
    color: #f8fafc;
}
.glass-panel {
    background: rgba(30, 41, 59, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}